// COLORS

$very-dark-gray: hsl(0, 0%, 17%);
$very-dark-gray-hover: hsl(0, 0%, 25%);
$dark-gray: hsl(0, 0%, 59%);
$light-gray: hsl(0, 0%, 85%);


// TYPOGRAPHY

$font-family-rubik: 'Rubik', sans-serif;
$font-size-basic: 112.5%;