.header {
    width: 100vw;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/pattern-bg.png") no-repeat fixed;
    background-size: 100% 15rem;

    @media only screen and (max-width: 700px) {
        min-height: 14.4rem;
        background-size: 100% 14.4rem;
    }

    @media only screen and (max-width: 600px) {
        min-height: 13.7rem;
        background-size: 100% 13.7rem;
    }

    @media only screen and (max-width: 400px) {
        min-height: 16rem;
        background-size: 100% 16rem;
    }

    &__h1 {
        color: #ffffff;
        font-size: 2.2rem;
        font-weight: 500;
        padding-top: 1.5rem;

        @media only screen and (max-width: 400px) {
            font-size: 1.5rem;
        }
    }

    &__input {
        display: flex;
        width: 50vw;
        height: 8vh;
        margin: 1.5rem 0;

        @media only screen and (max-width: 600px) {
            width: 70vw;
        }

        @media only screen and (max-width: 400px) {
            width: 85vw;
        }

        &--field {
            width: 93%;
            font-size: 100%;
            margin-right: auto;
            padding-left: 1rem;
            border: none;
            border-radius: 1rem 0 0 1rem;
            cursor: pointer;
            
            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $dark-gray;

                @media only screen and (max-width: 750px) {
                    font-size: 70%;
                }

                @media only screen and (max-width: 350px) {
                    font-size: 60%;
                }
            }

            @media only screen and (max-width: 400px) {
                border-radius: .5rem 0 0 .5rem;
            }
        }

        &--btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            background-color: $very-dark-gray;
            border: none;
            border-radius: 0 1rem 1rem 0;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: $very-dark-gray-hover;
            }

            @media only screen and (max-width: 400px) {
                border-radius: 0 .5rem .5rem 0;
            }
        }
    }

    &__results {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        position: absolute;
        top: 11.2rem;
      
        padding: 1.5rem;
        background-color: #ffffff;
        border: none;
        border-radius: .5rem;
        box-shadow: 0 .4rem 2rem -1rem $dark-gray;

        @media only screen and (max-width: 700px) {
            width: 90vw;
            padding: 1rem .5rem;
        }

        @media only screen and (max-width: 600px) {
            width: 96vw;
            padding: .5rem .2rem;
        }

        @media only screen and (max-width: 400px) {
            width: 85vw;
            flex-direction: column;
            top: 9rem;
            padding: 1rem;
        }

        &--details {
            height: 4rem;
            color: $dark-gray;
            font-size: .6rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 0 auto auto 0;
            
            &:not(:first-child) {
                padding-left: 1.5rem;
                border-left: 1.5px solid $light-gray;

                @media only screen and (max-width: 1100px) {
                    padding-left: 1rem;
                }

                @media only screen and (max-width: 900px) {
                    padding-left: .5rem;
                }

                @media only screen and (max-width: 600px) {
                    padding-left: .2rem;
                }

                @media only screen and (max-width: 400px) {
                    padding-left: 0;
                    border-left: none;
                }
            }

            @media only screen and (max-width: 400px) {
                height: fit-content;
                margin: .5rem 0 0 0;
                text-align: center;
            }
        }

        &--result {
            color: $very-dark-gray;
            font-size: 1.4rem;
            font-weight: 700;
            margin-top: .5rem;
            text-transform: none;
            letter-spacing: 0;

            @media only screen and (max-width: 1100px) {
                font-size: 1rem;
            }

            @media only screen and (max-width: 600px) {
                font-size: .7rem;
            }

            @media only screen and (max-width: 400px) {
                font-size: 1rem;
                margin: .5rem 0;
            }
        }
    }
}